<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    
    <sitecore>
        <settings>
            <setting name="IFTTT.Enable.EventTriggers" value="true" />
            <setting name="IFTTT.Enable.RemoteEventTriggers" value="true" />
        </settings>
        
        <!-- IoC registrations -->
        <services>
            <configurator type="Community.Feature.IFTTT.IoC.Configurator, Community.Feature.IFTTT" />
        </services>
        
        <!-- Marketing Automation plugin -->
        <marketingAutomation role:require="Standalone or ContentManagement">
            <pluginDescriptorsRepository>
                <plugins>
                    <!-- Relative to [Sitecore site]\sitecore\shell\client\Applications\MarketingAutomation\ -->
                    <plugin path="./plugins/IFTTT/ifttt.plugin.js" />
                </plugins>
            </pluginDescriptorsRepository>
        </marketingAutomation>
        
        <!-- Event sniffer for global trigger conditions -->
        <eventing defaultProvider="sitecore">
            <providers>
                <add name="sitecore" set:type="Community.Feature.IFTTT.Eventing.IftttEventProvider, Community.Feature.IFTTT" systemDatabaseName="core"/>
            </providers>
        </eventing>
        
    </sitecore>
        
</configuration>