<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Feature.IFTTT" dependencies="Foundation.Serialization" extends="Foundation.Base.Renderings">
                    <predicate>
                        <include name="$(layer).$(module).Trigger" database="master" path="/sitecore/system/Settings/Analytics/Marketing Automation/Activity Types/IFTTT Trigger" />
                        <include name="$(layer).$(module).Module" database="master" path="/sitecore/system/Modules/$(module)" />
                    
                        <!-- Event Rules -->
                        <include name="$(layer).$(module).EventRules" database="master" path="/sitecore/system/Settings/Rules/IFTTT Events" />
                        <include name="$(layer).$(module).EventTags" database="master" path="/sitecore/system/Settings/Rules/Definitions/Tags/IFTTT Events" />
                        <include name="$(layer).$(module).EventDefinitions" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/IFTTT Events" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>