<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    
    <sitecore>
        
        <!-- IoC registrations -->
        <services>
            <configurator type="Community.Feature.IFTTT.IoC.Configurator, Community.Feature.IFTTT" />
        </services>
        
        <!-- Marketing Automation plugin -->
        <marketingAutomation role:require="Standalone or ContentManagement">
            <pluginDescriptorsRepository>
                <plugins>
                    <!-- Relative to [Sitecore site]\sitecore\shell\client\Applications\MarketingAutomation\ -->
                    <plugin path="./plugins/IFTTT/ifttt.plugin.js" />
                </plugins>
            </pluginDescriptorsRepository>
        </marketingAutomation>
                
    </sitecore>
        
</configuration>