<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Feature.IFTTT.Logging" dependencies="Foundation.Serialization,Feature.IFTTT" extends="Foundation.Base">
                    <predicate>
                        <include name="Feature.IFTTT.Logging.Templates" database="master" path="/sitecore/templates/Feature/IFTTT Logging" />
                    
                        <!-- Event Rules -->
                        <include name="Feature.IFTTT.Logging.EventRules" database="master" path="/sitecore/system/Settings/Rules/IFTTT Logging" />
                        <include name="Feature.IFTTT.Logging.EventTags" database="master" path="/sitecore/system/Settings/Rules/Definitions/Tags/IFTTT Logging" />
                        <include name="Feature.IFTTT.Logging.EventDefinitions" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/IFTTT Logging" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>