<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <settings>
            <setting name="Counters.Enabled" set:value="false"/>
            <setting name="DeviceDetection.Enabled" set:value="false" />
        </settings>
    </sitecore>
</configuration>
